<div class="margin-20">
    <div class="flex-row" *ngIf="anime">
        <img src="{{anime.image_url}}" alt="Default">

        <div class="padding-20 medium-text">
            <span class="xx-large-text">{{anime.title}}</span><br>
            <br>
            English - {{anime.title_english}}<br>
            Japanese - {{anime.title_japanese}}<br>
            <br>
            {{anime.status}} - {{anime.episodes}} Episodes<br>
            Score - {{anime.score}} / 10 ({{anime.scored_by}})<br>
            {{animeGenres}}
        </div>
    </div>

    <hr>

    <div class="padding-20 medium-text" *ngIf="characters">
        <h1>Characters</h1>

        <div class="flex-wrap">
            <mat-card *ngFor="let character of characters?.characters" class="card">  
                <a href="{{character?.url}}">
                    <img src="{{character?.image_url}}" mat-card-image alt="{{character?.name}}">
                </a>
    
                <mat-card-content class="flex-1">
                    <p class="card-description">
                        {{character.name}}<br>
                        Role: {{character.role}}
                    </p>
                </mat-card-content>
            </mat-card> 
        </div>
    </div>
</div>