@use '~@angular/material' as mat;

@import './app/styles/blue_palette.scss';
@import './app/styles/brown_palette.scss';
@import './app/styles/gray_palette.scss';
@import './app/styles/green_palette.scss';
@import './app/styles/orange_palette.scss';
@import './app/styles/pink_palette.scss';
@import './app/styles/purple_palette.scss';
@import './app/styles/red_palette.scss';
@import './app/styles/yellow_palette.scss';

@include mat.core();

// Warn themes
$light-theme-warn-red: mat.define-palette($red-palette, 500);
$light-theme-warn-orange: mat.define-palette($orange-palette, 700);
$dark-theme-warn-red: mat.define-palette($red-palette, 200);
$dark-theme-warn-orange: mat.define-palette($orange-palette, 200);

// Light themes
$light-theme-blue: mat.define-palette($blue-palette, 500, 300, 700);
$light-theme-brown: mat.define-palette($brown-palette, 500, 300, 700);
$light-theme-gray: mat.define-palette($gray-palette, 600, 400, 800);
$light-theme-green: mat.define-palette($green-palette, 500, 300, 700);
$light-theme-orange: mat.define-palette($orange-palette, 500, 300, 700);
$light-theme-pink: mat.define-palette($pink-palette, 500, 300, 700);
$light-theme-purple: mat.define-palette($purple-palette, 500, 300, 700);
$light-theme-red: mat.define-palette($red-palette, 700, 500, 900);
$light-theme-yellow: mat.define-palette($yellow-palette, 600, 400, 800);

$light-theme-blue: mat.define-light-theme((
    color: (
        primary: $light-theme-blue,
        accent: $light-theme-yellow,
        warn: $light-theme-warn-red,
    )
));

$light-theme-brown: mat.define-light-theme((
    color: (
        primary: $light-theme-brown,
        accent: $light-theme-gray,
        warn: $light-theme-warn-red,
    )
));

$light-theme-gray: mat.define-light-theme((
    color: (
        primary: $light-theme-gray,
        accent: $light-theme-blue,
        warn: $light-theme-warn-red,
    )
));

$light-theme-green: mat.define-light-theme((
    color: (
        primary: $light-theme-green,
        accent: $light-theme-yellow,
        warn: $light-theme-warn-red,
    )
));

$light-theme-orange: mat.define-light-theme((
    color: (
        primary: $light-theme-orange,
        accent: $light-theme-blue,
        warn: $light-theme-warn-red,
    )
));

$light-theme-pink: mat.define-light-theme((
    color: (
        primary: $light-theme-pink,
        accent: $light-theme-blue,
        warn: $light-theme-warn-red,
    )
));

$light-theme-purple: mat.define-light-theme((
    color: (
        primary: $light-theme-purple,
        accent: $light-theme-green,
        warn: $light-theme-warn-red,
    )
));

$light-theme-red: mat.define-light-theme((
    color: (
        primary: $light-theme-red,
        accent: $light-theme-gray,
        warn: $light-theme-warn-orange,
    )
));


$light-theme-yellow: mat.define-light-theme((
    color: (
        primary: $light-theme-yellow,
        accent: $light-theme-blue,
        warn: $light-theme-warn-red,
    )
));

// Dark themes
$dark-theme-blue: mat.define-palette($blue-palette, 200, 100, 400);
$dark-theme-brown: mat.define-palette($brown-palette, 200, 100, 400);
$dark-theme-gray: mat.define-palette($gray-palette, 300, 100, 500);
$dark-theme-green: mat.define-palette($green-palette, 200, 100, 400);
$dark-theme-orange: mat.define-palette($orange-palette, 200, 100, 400);
$dark-theme-pink: mat.define-palette($pink-palette, 200, 100, 400);
$dark-theme-purple: mat.define-palette($purple-palette, 200, 100, 400);
$dark-theme-red: mat.define-palette($red-palette, 200, 100, 400);
$dark-theme-yellow: mat.define-palette($yellow-palette, 200, 100, 400);

$dark-theme-blue: mat.define-dark-theme((
    color: (
        primary: $dark-theme-blue,
        accent: $dark-theme-yellow,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-brown: mat.define-dark-theme((
    color: (
        primary: $dark-theme-brown,
        accent: $dark-theme-gray,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-gray: mat.define-dark-theme((
    color: (
        primary: $dark-theme-gray,
        accent: $dark-theme-blue,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-green: mat.define-dark-theme((
    color: (
        primary: $dark-theme-green,
        accent: $dark-theme-yellow,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-orange: mat.define-dark-theme((
    color: (
        primary: $dark-theme-orange,
        accent: $dark-theme-blue,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-pink: mat.define-dark-theme((
    color: (
        primary: $dark-theme-pink,
        accent: $dark-theme-blue,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-purple: mat.define-dark-theme((
    color: (
        primary: $dark-theme-purple,
        accent: $dark-theme-green,
        warn: $dark-theme-warn-red,
    )
));

$dark-theme-red: mat.define-dark-theme((
    color: (
        primary: $dark-theme-red,
        accent: $dark-theme-gray,
        warn: $dark-theme-warn-orange,
    )
));


$dark-theme-yellow: mat.define-dark-theme((
    color: (
        primary: $dark-theme-yellow,
        accent: $dark-theme-blue,
        warn: $dark-theme-warn-red,
    )
));

// Theme classes
// Change at navbar level
@include mat.all-component-themes($dark-theme-blue);

.light-theme-blue {
    @include mat.all-component-themes($light-theme-blue);
}

.light-theme-brown {
    @include mat.all-component-themes($light-theme-brown);
}

.light-theme-gray {
    @include mat.all-component-themes($light-theme-gray);
}

.light-theme-green {
    @include mat.all-component-themes($light-theme-green);
}

.light-theme-orange {
    @include mat.all-component-themes($light-theme-orange);
}

.light-theme-pink {
    @include mat.all-component-themes($light-theme-pink);
}

.light-theme-purple {
    @include mat.all-component-themes($light-theme-purple);
}

.light-theme-red {
    @include mat.all-component-themes($light-theme-red);
}

.light-theme-yellow {
    @include mat.all-component-themes($light-theme-yellow);
}

.dark-theme-blue {
    @include mat.all-component-themes($dark-theme-blue);
}

.dark-theme-brown {
    @include mat.all-component-themes($dark-theme-brown);
}

.dark-theme-gray {
    @include mat.all-component-themes($dark-theme-gray);
}

.dark-theme-green {
    @include mat.all-component-themes($dark-theme-green);
}

.dark-theme-orange {
    @include mat.all-component-themes($dark-theme-orange);
}

.dark-theme-pink {
    @include mat.all-component-themes($dark-theme-pink);
}

.dark-theme-purple {
    @include mat.all-component-themes($dark-theme-purple);
}

.dark-theme-red {
    @include mat.all-component-themes($dark-theme-red);
}

.dark-theme-yellow {
    @include mat.all-component-themes($dark-theme-yellow);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
