<mat-progress-bar color="accent" *ngIf="loadingJikanTop" mode="indeterminate" class="margin-tb-2"></mat-progress-bar>

<div class="margin-10">
    <div class="flex-row padding-top-20 margin-lr-20">
        <h2>Top</h2>

        <mat-form-field class="min-width float-right">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selectedTopType" (selectionChange)="loadTop()">
                <mat-option value="anime">Anime</mat-option>
                <mat-option value="manga">Manga</mat-option>
            </mat-select>
        </mat-form-field>        
    </div>

    <div class="flex-wrap">
        <mat-card *ngFor="let anime of jikanTop?.top" class="card">
            <a routerLink="anime/{{anime.mal_id}}">
                <img class="flex-2 card-image" mat-card-image src="{{anime.image_url}}" alt="Photo of a Shiba Inu">
            </a>
    
            <mat-card-content class="flex-1">
                <p class="card-description">
                    {{anime.title}}
                </p>
            </mat-card-content>
        </mat-card>          
    </div>

    <div class="button-footer">
        <button mat-raised-button color="primary" class="margin-right-10" [disabled]="page == 1" (click)="previousPage()">Back</button>
        <button mat-raised-button color="primary" (click)="nextPage()">Next</button>
    </div>
</div>