<form [formGroup]="questionForm" class="flex flex-row w-full gap-10">
    <div class="flex-1 w-full gap-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Question</mat-label>
            <input matInput formControlName="text">
        </mat-form-field>

        <div *ngIf="type && type === input">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Response</mat-label>
                <input matInput disabled>
            </mat-form-field>
        </div>

        <div *ngIf="type && type === textArea">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Response</mat-label>
                <textarea rows="4" matInput disabled></textarea>
            </mat-form-field>
        </div>

        <div *ngIf="type && type === date">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Response</mat-label>
                <input matInput type="date" disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="flex-none ml-auto">
        <button mat-icon-button color="warn" (click)="removeQuestionClicked()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</form>

